body{
    margin: auto;
    height: 1000px;
}


.main-bloc{
    display: flex;
    padding-left: 50px;
    margin-top: 3%;

}
.bloc{
    display: flex;
    background-color: darkslategrey;
    border-radius: 0.35rem;
    margin-top: 20%;
    margin: 15px;
    width: 200px;
    height: 200px;
    
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.bloc-title{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    padding: 60px;
    font-size: 1.5rem;
    height: 50px;
    width: 500px;
    background-color: gray;
}